{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div>
            <h2 class="mb-4 text-center">Login</h2>
            <form method="POST" novalidate style="width: 300px; margin: 0 auto;">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="email" class="form-control-label">Email</label>
                    {{ form.email(class="form-control", placeholder="Email", style="width: 100%") }}
                    {% for error in form.email.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password" class="form-control-label">Password</label>
                    {{ form.password(class="form-control", placeholder="Password", style="width: 100%") }}
                    {% for error in form.password.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group form-check">
                    {{ form.remember(class="form-check-input") }}
                    <label class="form-check-label" for="remember">Remember me</label>
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}



{#{% block body %}#}
{#{{ super() }}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>Login</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Login</h1>#}
{#    <form method="POST">#}
{#    {{ form.hidden_tag() }}#}
{#    <div class="form-group">#}
{#        {{ form.name.label(class="form-label") }}#}
{#        {{ form.name(class="form-control") }}#}
{#    </div>#}
{#    <div class="form-group">#}
{#        {{ form.password.label(class="form-label") }}#}
{#        {{ form.password(class="form-control") }}#}
{#    </div>#}
{#    {{ form.submit(class="btn btn-primary") }}#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>Login</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Login</h1>#}
{#    <form method="POST" action="{{ url_for('info') }}">#}
{#        <label for="username">Username:</label>#}
{#        <input type="text" name="username" required><br><br>#}
{#        <label for="password">Password:</label>#}
{#        <input type="password" name="password" required><br><br>#}
{#        <input type="submit" value="Login">#}
{#    </form>#}
{#</body>#}
{#</html>#}